.amplify-button--primary {
  background-color: #5271ff;
  color: #fff;
  border: none;
  border-radius: 0.5rem !important;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #5271ff;
    color: #fff;
    opacity: 0.8;
  }
}
.amplify-button--link {
  background-color: transparent;
  color: #5271ff;
  border: none;
  border-radius: 0.5rem !important;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #5271ff;
    opacity: 0.8;
  }
}
.amplify-input {
  border: 1px solid #5271ff;
  border-radius: 0.5rem !important;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  &:focus {
    outline: none;
    border: 1px solid #5271ff;
  }
  &::placeholder {
    color: #5271ff;
  }
}
[data-amplify-authenticator] [data-amplify-router] {
  background-color: rgb(238, 248, 246);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.amplify-tabs-item[data-state="active"] {
  background-color: #5271ff;
  color: #fff;
  border-color: grey;
}
.amplify-label {
  font-size: 1rem;
  font-weight: 500;
  color: #5271ff;
}
.amplify-icon {
  color: #5271ff;
}